#!/bin/sh

# Only runs once per machine during `chezmoi apply`

set -e

LOGFILE="$HOME/setup.log"
mkdir -p "$(dirname "$LOGFILE")"
: > "$LOGFILE"  # clear previous log

# Log functions
log()      { printf "[INFO] %s\n" "$1" | tee -a "$LOGFILE"; }
logwarn()  { printf "[WARN] %s\n" "$1" | tee -a "$LOGFILE"; }
logerror() { printf "[ERROR] %s\n" "$1" | tee -a "$LOGFILE" >&2; }

main() {
  log "Starting first-time setup..."
  cd $HOME

  echo "🔐 Requesting sudo access..."
  sudo -v
  
  install_core_packages
  config_shell
  build_and_install_nvim
}

config_shell() {
  log "Configuring shell..."
  sudo chsh blara -s "$(command -v zsh)"
  log "Shell successfully configured!"
}

install_core_packages() {
  log "Installing core packages..."
  {{ if eq .chezmoi.os "linux" -}}
  {{ if eq .chezmoi.osRelease.id "debian" "ubuntu" -}}
  silent_run sudo apt-get update -qq
  {{ range .packages.linux.apt -}}
  silent_install_package {{ . | quote }}
  {{ end -}}
  {{ end -}}
  {{ end -}}

  install_eza
  log "Core packages installed!"
}

install_eza() {
  log "📦 Installing eza"
  {{ if eq .chezmoi.os "linux" -}}
  {{ if eq .chezmoi.osRelease.id "debian" "ubuntu" -}}
  silent_run sudo mkdir -p /etc/apt/keyrings

  wget -qO- https://raw.githubusercontent.com/eza-community/eza/main/deb.asc |
    sudo gpg --dearmor -o /etc/apt/keyrings/gierens.gpg

  echo "deb [signed-by=/etc/apt/keyrings/gierens.gpg] http://deb.gierens.de stable main" |
    sudo tee /etc/apt/sources.list.d/gierens.list > /dev/null 2>&1

  silent_run sudo chmod 644 /etc/apt/keyrings/gierens.gpg /etc/apt/sources.list.d/gierens.list
  silent_run sudo apt-get update -qq
  silent_install_package eza
  {{ end -}}
  {{ end -}}
}

build_and_install_nvim() {
  log "Installing nvim"
  
  NEOVIM_DIR="$HOME/ghq/github.com/neovim/neovim"
  
  log "🔍 Checking build dependencies..."
  
  sudo bash -c 'apt update > /dev/null 2>&1'
  sudo bash -c 'apt install -y \
  ninja-build gettext cmake unzip curl \
  build-essential git libtool libtool-bin \
  autoconf automake pkg-config' > /dev/null 2>&1
  
  log "📁 Ensuring build directory exists..."
  mkdir -p "$HOME/ghq/github.com/neovim"
  
  if [ ! -d "$NEOVIM_DIR" ]; then
    log "📥 Cloning Neovim repo..."
    git clone https://github.com/neovim/neovim.git "$NEOVIM_DIR" > /dev/null 2>&1
  else
    warn "📦 Neovim source already exists, updating..."
    git -C "$NEOVIM_DIR" pull > /dev/null 2>&1
  fi
  
  cd "$NEOVIM_DIR"
  
  log "🛠️ Building Neovim..."
  make CMAKE_BUILD_TYPE=Release > /dev/null 2>&1
  
  log "🚀 Installing Neovim..."
  sudo make install > /dev/null 2>&1
  
  log "✅ Neovim installed to: $(command -v nvim)"
  nvim --version | head -n 1
  
  log "neovim installed!"
}

silent_install_package() {
  log "📦 Installing $1..."
  if ! silent_run sudo DEBIAN_FRONTEND=noninteractive apt-get install -y -qq "$1"; then
    logerror "❌ Failed to install $1"
  fi
}

silent_run() {
  "$@" < /dev/null > /dev/null 2>&1
}

main
