#!/bin/bash
# Only runs once per machine during `chezmoi apply`

set -e
LOGFILE="$HOME/setup.log"
mkdir -p "$(dirname "$LOGFILE")"
: > "$LOGFILE"  # clear previous log

# Log functions
log()      { printf "[INFO]  %s\n" "$1" | tee -a "$LOGFILE"; }
logwarn()  { printf "[\e[33mWARN\e[0m]  %s\n" "$1" | tee -a "$LOGFILE"; }
logerror() { printf "[\e[31mERROR\e[0m] %s\n" "$1" | tee -a "$LOGFILE" >&2; }

main() {
  log "🛫 Starting first-time setup..."
  cd "$HOME"

  log "🔐 Requesting sudo access..."
  sudo -v
  log "✅ Access granted!"

  update_package_manager
  install_core_packages
  install_rust
  install_eza
  config_shell
  install_go
  install_ghq
  build_and_install_nvim
  build_and_install_tmux
  setup_wsl

  log "🏁 Setup complete!"
}

config_shell() {
  sudo chsh blara -s "$(command -v zsh)"
  log "🐚 Shell successfully configured!"
}

install_core_packages() {
  {{ if eq .chezmoi.os "linux" -}}
  {{ range .packages.linux.apt -}}
  install_package {{ . | quote }}
  {{ end -}}
  {{ else }}
  logwarn "❌ Unsupported operating system: $(uname -a)"
  logwarn "📦 Skipping core package install..."
  return

  {{ end -}}
  log "✅ Core packages installed!"
}

install_eza() {
  log "🛠️ Building eza..."
  silent_run cargo install eza
  log "📂 eza installed!"
}

install_ghq() {
  if command -v ghq >/dev/null 2>&1; then
    logwarn "📦 ghq already installed, skipping..."
    return
  fi

  {{ if eq .chezmoi.os "linux" -}}
  {{ if eq .chezmoi.osRelease.id "debian" "ubuntu" -}}
  if ! command -v ghq >/dev/null 2>&1; then
    logwarn "ghq package not found, building from source..."
    if ! command -v go >/dev/null 2>&1; then
      install_go
    fi
    export GOPATH=$HOME/.local/share/go
    export GOROOT=/usr/local/go
    export GOMODCACHE=$HOME/.cache/go/mod

    GO111MODULE=on go install github.com/x-motemen/ghq@latest >>"$LOGFILE" 2>&1
    sudo install -m 755 "$GOPATH/bin/ghq" /usr/local/bin/ghq
  fi
  {{ end -}}
  {{ end -}}

  log "📦 ghq installed!"
}

install_go() {
  GO_VERSION="1.24.4"
  GO_ARCHIVE="go${GO_VERSION}.linux-amd64.tar.gz"
  GO_INSTALL_PATH="/usr/local/bin"

  export GOPATH=$HOME/.local/share/go
  export GOROOT=/usr/local/go
  export GOMODCACHE=$HOME/.cache/go/mod

  if command -v go >/dev/null 2>&1; then
    current_version=$(go version | awk '{print $3}' | sed 's/go//')
    if [ "$current_version" = "$GO_VERSION" ]; then
      logwarn "✨ Go $current_version already installed, skipping..."
      return
    else
      logwarn "🔄 Updating Go to $GO_VERSION (current: $current_version)"
    fi
  else
    log "📥 Installing Go $GO_VERSION..."
  fi

  wget -q "https://go.dev/dl/$GO_ARCHIVE" -O "/tmp/$GO_ARCHIVE"
  silent_run sudo rm -rf $GOROOT
  silent_run sudo tar -C /usr/local -xzf "/tmp/$GO_ARCHIVE"
  rm -f "/tmp/$GO_ARCHIVE"
  silent_run sudo ln $GOROOT/bin/go $GO_INSTALL_PATH/go
  log "✨ Go installed to: $GOROOT/bin/go"
}

build_and_install_nvim() {
  NVIM_VERSION="v0.11.2"
  NEOVIM_DIR="$HOME/ghq/github.com/neovim/neovim"

  if command -v nvim >/dev/null 2>&1; then
    current_version=$(nvim --version | head -n 1 | awk '{print $2}')
    if [ "$current_version" = "$NVIM_VERSION" ]; then
      logwarn "📦 neovim $NVIM_VERSION already installed, skipping..."
      return
    else
      logwarn "🔄 Updating neovim to $NVIM_VERSION (current: $current_version)"
    fi
  else
    log "📥 Installing neovim $NVIM_VERSION..."
  fi

  log "🔍 Checking build dependencies..."
  silent_install_package ninja-build gettext cmake \
    unzip curl build-essential git libtool libtool-bin \
    autoconf automake pkg-config

  log "📁 Ensuring build directory exists..."
  mkdir -p "$(dirname "$NEOVIM_DIR")"

  if [ ! -d "$NEOVIM_DIR" ]; then
    log "📥 Cloning Neovim repo..."
    silent_run git clone -b v0.11.2 --single-branch --depth 1 https://github.com/neovim/neovim.git "$NEOVIM_DIR"
  else
    logwarn "📦 Neovim source already exists, updating..."
    silent_run git -C "$NEOVIM_DIR" fetch --tags --depth=1
    silent_run git -C "$NEOVIM_DIR" checkout -f $NVIM_VERSION
  fi

  cd "$NEOVIM_DIR"

  log "🛠️ Building Neovim..."
  silent_run make CMAKE_BUILD_TYPE=Release

  log "🚀 Installing Neovim..."
  silent_run sudo make install

  log "✅ Neovim installed to: $(command -v nvim)"
  log "🛠️ Neovim version: $(nvim --version | head -n 1)"
}

build_and_install_tmux() {
  TMUX_VERSION="3.5"

  if command -v tmux >/dev/null 2>&1; then
    current_version=$(tmux -V | awk '{print $2}')
    if [ "$current_version" = "$TMUX_VERSION" ]; then
      logwarn "📦 tmux $TMUX_VERSION already installed, skipping..."
      return
    else
      logwarn "🔄 Updating tmux to $TMUX_VERSION (current: $current_version)"
      silent_run sudo apt remove tmux -y
    fi
  else
    log "📥 Installing tmux $TMUX_VERSION..."
  fi

  TMUX_DIR="$HOME/ghq/github.com/tmux/tmux"

  log "🔍 Checking build dependencies..."
  silent_run sudo apt-get update -qq
  silent_install_package libevent-dev ncurses-dev build-essential \
    bison pkg-config

  log "📁 Ensuring build directory exists..."
  mkdir -p "$(dirname "$TMUX_DIR")"

  if [ ! -d "$TMUX_DIR" ]; then
    log "📥 Cloning tmux repo..."
    silent_run git clone -b 3.5 --single-branch --depth 1 https://github.com/tmux/tmux.git "$TMUX_DIR"
  else
    logwarn "📦 tmux source already exists, updating..."
    silent_run git -C "$TMUX_DIR" pull
  fi

  cd "$TMUX_DIR"

  log "🛠️ Building tmux..."
  silent_run sh autogen.sh
  silent_run ./configure --prefix=/usr/local
  silent_run make 

  log "🚀 Installing Neovim..."
  silent_run sudo make install

  log "✅ tmux installed to: $(command -v tmux)"
  log "🛠️ tmux version: $(tmux -V)"
}

install_package() {
  for i in $@
  do
    silent_install_package "$i"
    log "📦 $i installed!"
  done
}

silent_install_package() {
  for i in $@
  do
  {{ if eq .chezmoi.os "linux" -}}

  {{ if eq .chezmoi.osRelease.id "debian" "ubuntu" -}}
  if ! silent_run sudo DEBIAN_FRONTEND=noninteractive apt-get install -y -qq "$i"; then
    logerror "❌ Failed to install $i"
  fi
  {{ end }}

  {{ if eq .chezmoi.osRelease.id "fedora" -}}
  if ! silent_run sudo yum install -y "$i"; then
    logerror "❌ Failed to install $i"
  fi
  {{ end }}

  {{ if eq .chezmoi.osRelease.id "arch" -}}
  if ! silent_run sudo pacman -S "$i"; then
    logerror "❌ Failed to install $i"
  fi
  {{ end }}
  {{ else }}
  logerror "❌ Unsupported OS, skipping install of packages [$@]"
  return
  {{ end }}
  done
}

update_package_manager() {
  {{ if eq .chezmoi.os "linux" -}}

  {{ if eq .chezmoi.osRelease.id "debian" "ubuntu" -}}
  silent_run sudo DEBIAN_FRONTEND=noninteractive apt-get update -qq
  {{ end }}

  {{ if eq .chezmoi.osRelease.id "fedora" -}}
  silent_run sudo yum update
  {{ end }}

  {{ if eq .chezmoi.osRelease.id "arch" -}}
  silent_run sudo pacman -Syu
  {{ end }}
  {{ else }}
  logerror "❌ Unsupported OS, unable to update package manager"
  exit 1

  {{ end }}
}

silent_run() {
  "$@" >>"$LOGFILE" 2>&1 </dev/null
}

setup_wsl() {
  {{ if eq .chezmoi.os "linux" }}
  {{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
  log "🖥️ Windows Subsystem for Linux detected..."
  sudo sh -c "cat > /etc/wsl.conf" <<-EOF
[boot]
systemd=true
EOF
  log "✅ WSL configurations applied!"
  {{ end }}
  {{ else }}
  return
  {{ end }}
}

install_rust() {
  curl https://sh.rustup.rs -sSf > rustup-init.sh
  chmod u+x ./rustup-init.sh
  silent_run ./rustup-init.sh -y
  source $HOME/.cargo/env
  rm ./rustup-init.sh

  log "🦀 Rust installed!"
}

main
