[core]

  editor = nvim
  pager  = less
  
  excludesFile = $XDG_CONFIG_HOME/git/gitignore_global

[user]

  name  = Lara, Benjamin R
  email = {{ .email | quote }}
  signingkey = {{ .gpgKeyID | quote }}
 
[commit]
  
  gpgsign = true

[init]

	defaultBranch = main

[alias]

  l = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

  # Switch to a branch, creating it if necessary.
	go = "!f() { git checkout -b \"$(git branch --remote | fzf)\" 2> /dev/null || git checkout \"$(git branch --remote | fzf)\"; }; f"

  # Amend the currently staged files to the latest commit.
	amend = commit --amend --reuse-message=HEAD

  # Credit an author on the latest commit.
	credit = "!f() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; f"

[push]
  autoSetupRemote = true
